/* demo here http://tympanus.net/Tutorials/3DHoverEffects/index3.html */
.image-preview {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    background-color: #000000;
}
.image-preview .slice{
    width: 20%;
    height: 100%;
    position: relative;
    z-index: 100;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;

    -webkit-transition: -webkit-transform 150ms ease-in-out;
    -moz-transition: -moz-transform 150ms ease-in-out;
    -o-transition: -o-transform 150ms ease-in-out;
    -ms-transition: -ms-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;


}

.image-preview .s2,
.image-preview .s3,
.image-preview .s4,
.image-preview .s5 {
    width: 100%;
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
.image-preview .s1 {
    background-position: 0px 0px;
}
.image-preview .s2 {
    background-position: -100% 0px;
}
.image-preview .s3 {
    background-position: -200% 0px;
}
.image-preview .s4 {
    background-position: -300% 0px;
}
.image-preview .s5 {
    background-position: -400% 0px;
}

.image-preview .overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 150ms ease-in-out;
    -moz-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    -ms-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
}

.image-preview:hover .overlay {
    opacity: 1;
}


.image-preview:hover .s1{
    -webkit-transform: rotate3d(0,1,0,-55deg);
    -moz-transform: rotate3d(0,1,0,-55deg);
    -o-transform: rotate3d(0,1,0,-55deg);
    -ms-transform: rotate3d(0,1,0,-55deg);
    transform: rotate3d(0,1,0,-55deg);
}

.image-preview:hover .s2,
.image-preview:hover .s5{
    -webkit-transform: translate3d(98%,0,0) rotate3d(0,1,0,20deg);
    -moz-transform: translate3d(98%,0,0) rotate3d(0,1,0,20deg);
    -o-transform: translate3d(98%,0,0) rotate3d(0,1,0,20deg);
    -ms-transform: translate3d(98%,0,0) rotate3d(0,1,0,20deg);
    transform: translate3d(98%,0,0) rotate3d(0,1,0,20deg);
}

.image-preview:hover .s3{
    -webkit-transform: translate3d(98%,0,0) rotate3d(0,1,0,30deg);
    -moz-transform: translate3d(98%,0,0) rotate3d(0,1,0,30deg);
    -o-transform: translate3d(98%,0,0) rotate3d(0,1,0,30deg);
    -ms-transform: translate3d(98%,0,0) rotate3d(0,1,0,30deg);
    transform: translate3d(98%,0,0) rotate3d(0,1,0,30deg);
}

.image-preview:hover .s4{
    -webkit-transform: translate3d(98%,0,0) rotate3d(0,1,0,40deg);
    -moz-transform: translate3d(98%,0,0) rotate3d(0,1,0,40deg);
    -o-transform: translate3d(98%,0,0) rotate3d(0,1,0,40deg);
    -ms-transform: translate3d(98%,0,0) rotate3d(0,1,0,40deg);
    transform: translate3d(98%,0,0) rotate3d(0,1,0,40deg);
}

.image-preview .s1 > .overlay {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}

.image-preview .s5 > .overlay {
    background: -moz-linear-gradient(right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
}


.image-preview {
    float: left;
    height: 200px;
    border-radius: 0px;
    margin: 5px;
    display: block;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    padding: 0;

}


.image-preview .filename {


    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 25%;
    background-color: #d6d4dd;
    color: #000000;
    text-decoration: none;
    z-index: 90;
    padding: 4px;
}
